html {
	height: 100%;
}
html, body{
	font-family: 'Raleway', Helvetica, Arial, '微軟正黑體', 'Microsoft JhengHei', sans-serif;
	margin: 0;
	font-size: 18px;
}
body{
	min-height: 100%;
}
h2{
	font-size: 2rem;
	text-align: center;
	margin-bottom: 1em;
}
h4{
	margin: 0;
	font-size: 1.5rem;
}
h2, h4{
	font-family: inherit;
	font-weight: 300;

}
.btn{
	color: black;
	display: inline-block;
	background-color: transparent;
	border: 1.5px solid;
	padding: 9px;
	margin: 20px 0px;
	border-radius: 5px;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	user-select: none;
	text-decoration: none;
	transition: background-color 0.1s;
}
.btn:hover{
	color: white;
	border: 1.5px solid black;
	background-color: black;
	text-decoration: none;
}
ul{
	padding-inline-start: 0px;
	margin-top: 0;
}
li{
	list-style: none;
}
.icon{
	width: 1.2em;
	margin-right: 0.7em;
	vertical-align: middle;
}
#page-wrapper {
	background-image: url(../images/key_vision.jpg);
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	height: 100%;
	overflow: hidden;
	padding-top: 0;
}
/*Hide*/
.hide{
	visibility: hidden;
	/*display: none;*/
	opacity: 0;
			/*-webkit-transition: visibility 0s 0.5s, opacity 0.5s linear;
			-moz-transition: visibility 0s 0.5s, opacity 0.5s linear;
			-ms-transition: visibility 0s 0.5s, opacity 0.5s linear;
			-o-transition: visibility 0s 0.5s, opacity 0.5s linear;*/
			transition: visibility 0s 0.5s, opacity 0.5s linear;
		}
		.visible {
			visibility: visible;
			opacity: 1;
			/*-webkit-transition: opacity 0.5s linear;
			-moz-transition: opacity 0.5s linear;
			-ms-transition: opacity 0.5s linear;
			-o-transition: opacity 0.5s linear;*/
			/*transition: opacity 0.5s linear;*/
		}
		.display_none{
			display: none;
		}
		/*Navbar*/
		.navbar{
			background-color: transparent;
			transition: all .5s linear;
			position: fixed;
			top: 0;
			right: 0;
			left: 0;
			z-index: 100;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;
			padding: .5rem;
		}
		.navbar1{
			display: -ms-flexbox;
			display: flex;
			-ms-flex-direction: row;
			flex-direction: row;
			padding-left: 0;
			margin-bottom: 0;
		}
		.nav-right{
			margin-left: auto;
		}
		.nav-item{
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.link1{
			display: block;
			margin: 8px 12px;
			padding: 9px;
			color:#c1a6b4;
			border: 1.5px solid #c1a6b4;
			border-radius: 5px;
			text-decoration: none;
			transition: all 0.1s linear;
		}
		.link1:hover{
			color:white;
			background-color: #c1a6b4;
			text-decoration: none;
		}
		@media (max-width: 768px) {
			.link1{
				display:none;
			}
		}
		.nav-name{
			display: block;
			margin: 8px 12px;
			padding: 4px 6px;
			color:#c1a6b4;
			font-size: 1.3em;
			transition: color 0.5s linear;
		}
		.nav-name:hover{
			cursor: pointer;
		}

		@media (max-width: 576px) {
			.nav-name{
				color: #ab6d8d;
			}
		}
		.nav-toggle{
			width: 35px;
			margin-right: 10px;
			display:none;
		}
		.nav-toggle:hover{
			cursor: pointer;
		}

		@media (max-width: 768px) {
			.nav-toggle{
				display:block;
			}
		}

		.nav-chg-bg{
			background-color: #9e9ebb;
		}
		.nav-chg-link{
			color:white;
			margin: 1px 14px;
			border: none;
		}
		.nav-chg-link:hover{
			opacity: 0.7;
			text-decoration: none;
			background-color: transparent;
		}
		.nav-chg-name{
			color: white;
			margin: 0px 12px;
		}

		.navbar2{
			-moz-transform: translateX(20em);
			-webkit-transform: translateX(20em);
			-ms-transform: translateX(20em);
			transform: translateX(20em);
			-moz-transition: -moz-transform 0.5s ease;
			-webkit-transition: -webkit-transform 0.5s ease; 
			-ms-transition: -ms-transform 0.5s ease;
			transition: transform 0.5s ease; 
			background: #9e9ebb;
			color: #ffffff;
			height: 100%;
			max-width: 40%;
			overflow-y: auto;
			padding: 3em 2em;
			position: fixed;
			right: 0;
			top: 0;
			width: 10em;
			z-index: 150;
		}
		.navbar2-visible{
			transform: translateX(0em);
		}
		.nav_close{
			font-size: 2em;
			cursor: pointer;
			position: absolute;
			right: 0.4em;
			top: -0.1em;
			color: white;
			outline: 0;
			text-decoration: none;
		}
		.nav_close:hover{
			opacity: 0.7;
			text-decoration: none;
		}
		.link2{
			color: white;
			border-bottom: 1px solid;
			margin-bottom: 1.5em;
			display: block;
			outline: 0;
			text-decoration: none;
		}
		.link2:hover{
			text-decoration: none;
			color: #d6d6d6;
		}


		/*Banner*/
		#banner {
			/*display: -moz-flex;
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			-moz-flex-direction: column;
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
			flex-direction: column;
			-moz-justify-content: center;
			-webkit-justify-content: center;
			-ms-justify-content: center;
			justify-content: center;
			cursor: default;*/
			height: 95vh;
			overflow: hidden;
			position: relative;
			text-align: center;
		}

		@media (max-width: 576px) {
			#banner{
				background-image: url(../images/key_vision.jpg);
				background-attachment: fixed;
				background-position: center center;
				background-repeat: no-repeat;
				background-size: cover;
				-o-background-size: cover;
				-moz-background-size: cover;
				-webkit-background-size: cover;
			}
		}
/*#banner:before {
	-moz-pointer-events: none;
	-webkit-pointer-events: none;
	-ms-pointer-events: none;
	pointer-events: none;
	-moz-transition: opacity 1s ease-in-out;
	-webkit-transition: opacity 1s ease-in-out;
	-ms-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
	-moz-transition-delay: 0s;
	-webkit-transition-delay: 0s;
	-ms-transition-delay: 0s;
	transition-delay: 0s;
	content: '';
	background: rgb(50, 166, 175);
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	} */
	.inner{
		margin: 230px auto 0px;
		padding: 1.3em 0;
		color: white;
		width: 580px;
		border-top: 3px solid;
		border-bottom: 3px solid;
		background-color: rgba(220, 177, 90, 0.6);
		-webkit-animation-name: animatet-inner 2s;
		animation: animatet-inner 2s;
	}
	.inner h2{
		margin-top: 0;
		margin-bottom: .3em;
	}
	@-webkit-keyframes animatet-inner{
		from {margin-top: -700px; opacity:0} 
		to {margin-top: 230px; opacity:1}
	}
	@keyframes animate-inner{
		from {margin-top: -700px; opacity:0} 
		to {margin-top: 230px; opacity:1}
	}
	@media (max-width: 576px) {
		.inner{
			width: 100%;
		}
	}
	.arrow-down{
		margin-top: 0.3em;
		-webkit-animation-name: animatet-arrow-down 2s infinite;
		animation: animatet-arrow-down 2s infinite;
	}
	@-webkit-keyframes animatet-arrow-down{
		from {transform: translateY(0em); opacity:0} 
		to {transform: translateY(1em); opacity:1}
	}
	@keyframes animate-arrow-down{
		from {transform: translateY(0em); opacity:0} 
		to {transform: translateY(1em); opacity:1}
	}
	.arrow-down:hover{
		cursor: pointer;
	}

	/*Article*/
	#one {
		background-color: #f5dbdb;
		padding: 70px 30px;
	}
	#one li{
		margin: 5px;
	}
	#two {
		background-color: white;
		padding: 70px 30px;
	}
	#three {
		background-color: #ebebeb;
		padding: 70px 30px;
	}
	.project-img{
		width: 100%;
		border-radius: 15px;
	}
	.project-img:hover{
		cursor: pointer;
	}
	#four {
		background-color: white;
		padding: 70px 30px;
	}
	.decoration::before{
		content:url(../images/icon/decoration.svg);
		display: block;
		margin: -111px auto 40px;
		text-align: center;
	}
	@media (max-width: 768px) {
		.decoration::before{
			content:url(../images/icon/decoration_small.svg);
			display: block;
			margin: -91px auto 20px;
			text-align: center;
		}
	}
	.my-phote{
		border-radius: 300px;
		width: 100%;
		max-width: 250px;
		min-width: 150px;
		margin: 0.5em auto;
		display: block;
	}
	/*Layout*/
	.row{
		display: flex;
		justify-content: center!important;
		flex-wrap:wrap;
	}
	.col-aboutme-photo{
		margin: 0 20px;
	}
	.col-aboutme-text{
		flex: 0 0 45%;
		margin: 0 20px;
		min-width: 550px;
	}
	@media (max-width: 576px) {
		.col-aboutme-text{
			flex: 0 0 100%;
			min-width: 0px;
		}
	}
	@media (max-width: 946px) {
		.col-aboutme-text{
			margin-top: 1em;
		}
	}
	.col-skill{
		background-color: #fcf7ee;
		margin: 0 20px;
		padding: 30px;
		flex: 1;
		text-align: center
	}
	@media (max-width: 946px){
		.col-skill{
			flex: 0 0 100%;
			margin-bottom: 20px;
		}
	}
	.col-skill p{
		margin-bottom: 0;
	}
	.col-project-text{
		flex: 0 0 45%;
		margin: 0 20px;
	}
	@media (max-width: 576px){
		.col-project-text{
			flex: 0 0 100%;
		}
	}
	@media (min-width: 576px) and (max-width: 946px ){
		.col-project-text{
			flex: 0 0 80%;
		}
	}
	.col-project-photo{
		flex: 0 0 30%;
		margin: 0 20px;
	}
	@media (max-width: 576px){
		.col-project-photo{
			flex: 0 0 100%;
		}
	}
	@media (min-width: 576px) and (max-width: 946px){
		.col-project-photo{
			flex: 0 0 80%;
			margin-top: 20px;
		}
	}

	/*Panel*/
	.panels{
		display: flex;
		justify-content: center!important;
		flex-wrap:wrap;
	}
	.panel{
		background: #c1a6b4;
		background-size: cover;
		background-position: center;
		height: 230px;
		width: 170px;
		flex-direction: column;
		margin: 10px;
		border-radius: 15px;
		overflow: hidden;

	}
	.panel:hover{
		cursor: pointer;
		opacity: 0.85;
	}
	@media (max-width: 460px) {
		.panel{
			height: 230px;
			width: 250px;
		}
	}
	.panel1{
		background-image: url(../images/asphyxia.jpg);
	}
	.panel2{
		background-image: url(../images/peacock.jpg);
		background-position: 55% 35%;
		background-size: 230%
	}
	.panel3{
		background-image: url(../images/sunshine.jpg);
	}
	.panel4{
		background-image: url(../images/2017horti.jpg);
		background-position: 10%;
	}
	.panel5{
		background-image: url(../images/tokyo_godfathers.jpg);
	}
	.panel6{
		background-image: url(../images/cherry_radish.jpg);
	}
	.panel7{
		background-image: url(../images/ddbear.jpg);
	}
	.panel8{
		background-image: url(../images/flowers.jpg);
	}
	.panel9{
		background-image: url(../images/hedgehog.jpg);
	}
	.panel10{
		background-image: url(../images/fox.jpg);
	}
	.panel11{
		background-image: url(../images/falling.jpg);
	}

	/*Modal*/
	.modal-open{
		overflow-y: hidden;
	}
	.modal{
		transition: opacity 0.5s ease; 
		display: flex; /* Hidden by default */
		position: fixed; /* Stay in place */
		left: 0;
		top: 0;
		width: 100%; /* Full width */
		height: 100%; /* Full height */
		overflow: auto; /* Enable scroll if needed */
		background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
		z-index: 1000;
	}
	.modal-visible{
		opacity: 1;
	}
	.modal-content{
		position: relative;
		margin: auto;
		max-width: 95vw;
		padding: 0;
		width: auto;
		-webkit-animation: animate .5s;
		animation: animate .5s;
	}

	/* Modal Animation */
	@-webkit-keyframes animate{
		from {opacity:0} 
		to {opacity:1}
	}

	@keyframes animate{
		from {opacity:0}
		to {opacity:1}
	}
	.modal_close{
		font-size: 40px;
		cursor: pointer;
		position: absolute;
		right: 0;
		top: 0px;
		padding: 0 15px 7px 16px;
		color: white;
		outline: 0;
		text-decoration: none;
		background-color: rgba(0, 0, 0, 0.3);;
	}
	.modal_close:hover{
		opacity: 0.5;
	}
	/*Footer*/
	.footer{
		background-color: rgba(97, 62, 93, 0.55);
	}
	.footer p{
		margin: 0;
		color: white;
		text-align: center;
		padding: 20px;
		font-size: 0.9em;
	}
	.arrow-up{
		position: fixed;
		right: 0;
		bottom: 0;
		margin: 10px;
		z-index: 30;
		cursor: pointer;
		width: 40px;
		transition: all 0.5s cubic-bezier(0.12, 0.54, 0.58, 1.22);
	}
